<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Прокат автомобилей</title>
</head>
<body>

<div th:replace="header :: header"></div>

<div>
    <h1>Список доступных машин</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Цвет</th>
            <th>VIN</th>
            <th>Цена</th>
        </tr>
        <tr th:each="car : ${cars}">
            <td th:text="${car.id}"></td>
            <td th:text="${car.name}"></td>
            <td th:text="${car.color}"></td>
            <td th:text="${car.vin}"></td>
            <td th:text="${car.price}"></td>
            <td><form th:unless="${car.inArend}" th:action="@{/moderation/unrent-car}" method="post">
                <input type="hidden" name="carId" th:value="${car.id}" />
                <button type="submit">убрать из аренды</button>
            </form></td>
        </tr>
    </table>
</div>

<div th:replace="footer :: footer"></div>

</body>
</html>
